<h1>Tasks</h1>

<h2>Tasks that are complete</h2>
{{!-- Had trouble trying to get the page to change the task from complete to not complete.
After changing this index.handlebars status= ?, the code worked again.

to recreate the issue, use this code

<ul>
  {{#each tasks}}
    {{#if status}}
      {{> tasks/tasks-block status=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Tasks that are not complete</h2>

<ul>
  {{#each tasks}}
    {{#unless status}}
      {{> tasks/tasks-block status=false}}
    {{/unless}}
  {{/each}}
</ul>

 --}}
<ul>
  {{#each tasks}}
    {{#if status}}
      {{> tasks/tasks-block status=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Tasks that are not complete</h2>

<ul>
  {{#each tasks}}
    {{#unless status}}
      {{> tasks/tasks-block status=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a task</h2>
<form class="create-form">

  <div class="form-group">
    <label for="task">Task Name:</label>
    <input type="text" id="task" name="name">
  </div>

  <div class="form-group">
    <label for="status">Status?</label><br>
    <input type="radio" name="status" value="1" checked> Complete<br>
    <input type="radio" name="status" value="0"> Not Complete
  </div>

  <button type="submit">Add Task</button>
</form>
